<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechTrio-Team</title>
    <link rel='stylesheet' href="{{ url_for('static' , filename ='team.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body ">
    <div class="container">
        <div class="try">
            <div class="card">
                <img src='{{ url_for('static' , filename ='images/rkt.jpeg')}}'>
                <div class="text">
                    <h4>Ratnesh Kumar Tiwari</h4>
                    <ul>
                        <li>  <a target="_blank" href="https://www.instagram.com/r_k_t4193/"><i class="fa fa-instagram"></i></a></li>
                         <li> <a target="_blank" href="https://www.facebook.com/ratneshtiwari4193/"><i class="fa fa-facebook"></i></a></li>
                          <li><a target="_blank" href="https://github.com/Ratnesh4193"><i class="fa fa-github"></i></a></li>
                          <li><a target="_blank" href="https://www.linkedin.com/in/ratnesh-kumar-tiwari-867b521a6"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                </div>
            </div>
        </div>
        <div class="try">
        <div class="card">
            <img src='{{ url_for('static' , filename ='images/ss.jpeg')}}'>
            <div class="text">
                <h4>Sanskar Srivastava</h4>
                <ul>
                    <li><a target="_blank" href="https://www.instagram.com/its.sri.sanskar/"><i class="fa fa-instagram"></i></a></li>
                     <li><a target="_blank" href="https://www.facebook.com/sanskar.srivastava.9235/"><i class="fa fa-facebook"></i></a></li>
                      <li><a target="_blank" href="https://github.com/sanskarsri"><i class="fa fa-github"></i></a></li>
                      <li><a target="_blank" href="https://www.linkedin.com/in/sanskar-srivastava-0319b3194/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="try">
        <div class="card">
            <img src='{{ url_for('static' , filename ='images/rs.jpeg')}}'>
            <div class="text">
                <h4>Rupal Singh</h4>
                <ul>
                    <li><a target="_blank" href="https://www.instagram.com/rupalsingh63/"><i class="fa fa-instagram"></i></a></li>
                     <li><a target="_blank" href="https://www.facebook.com/profile.php?id=100037512309829"><i class="fa fa-facebook"></i></a></li>
                      <li><a target="_blank" href="https://github.com/rupal121"><i class="fa fa-github"></i></a></li>
                      <li><a target="_blank" href="https://www.linkedin.com/in/rupal-singh-40b3001a8/"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
            </div>
        </div>
    </div>
    </div>
</body>
</html>